---
<<<<<<< HEAD
import HeroimageIndex from "../components/HeroimageIndex.astro";
import LuigiMansion2 from "../components/LuigiMansion2.astro";
import PaperMario from "../components/PaperMario.astro";
=======
import "../styles/styles.css"
import Footer from "../components/Footer.astro";
import ProductDescription from "../components/ProductDescription.astro"
import Carousel from "../components/Carousel.astro";
import Card from "../components/Card.astro";

const products = await fetch("https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/products", {
	method:"GET",
	headers: {
		apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",

	},
}).then(res=>res.json());

console.log(products);
>>>>>>> 50f68b8e76a2f34f70ebd937093c9e32552e9d02
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/kzc0qgq.css" />
    <link rel="stylesheet" href="src/styles/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style>
    * {
      margin: 0;
    }
    h1 {
      text-align: center;
      font-size: var(--font-size-lg);
    }
  </style>
  <body>
    <main>
      <HeroimageIndex />
      <h1>Nyheder</h1>
      <LuigiMansion2 />
      <PaperMario />
    </main>
  </body>
</html>
