---
import Productlist from "../components/Productlist.astro";
import MainLayout from "../layouts/MainLayout.astro";

import "../styles/styles.css";

const data = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/products",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());

//this down here is just a test
export async function getStaticPaths() {
  const subcategories = await fetch(
    "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/subcategories",
    {
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((res) => res.json());

  return subcategories.map((subcategory) => ({
    params: { subcategory: subcategory.slug },
  }));
}

// console.log(data)
---

<MainLayout headliner="This is the product list">
  <div class="text-container">
    <h1>titel om produkterna</h1>
    <p>text om produkterna</p>
  </div>
  <section class="products">
    {
      data.map((data) => {
        return <Productlist data={data} />;
      })
    }
  </section>
</MainLayout>

<style>
 .text-container {
    display: grid;
    text-align: center;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    width: 100%;
    max-width: 1040px;

    margin: auto;
    justify-content: center;

    padding: 5rem 0;
  }
</style>
