---
const { data } = Astro.props;
console.log(data);
---

<article class="card">
  <img src="/images/TestImg3.png" alt="Not Showing" />
  <h2>Game Product Name</h2>
  <p class="price">200,00 DKK</p>
  <input type="button" value="Tilføj til kurv" />
</article>

<style>
  input {
    border: none;
    color: var(--primary-color);
    background-color: var(--accent-color);
    padding: 1em 1.5em 1em 1.5em;
    font-size: 1rem;
  }
</style>
