---

---

<footer>

  <nav class="generalInformation">
    <a href="#">Gavekort</a>
    <a href="#">Levering</a>
    <a href="#">FAQ</a>
    <a href="#">Handelsbetingelser</a>
  </nav>
  <div class="openingsContainer">
    <div class="openingDays">
      <h3>Åbingstider</h3>
      <p>Man-Fre</p>
      <p>Lør</p>
      <p>Søn</p>
    </div>
    <div class="openingHours">
      <p>12:00 - 17:30</p>
      <p>11:00 - 16:00</p>
      <p>12:00 - 15:00</p>
      <p>Kun første søndag hver måned</p>
    </div>
  </div>
  <div class="contactInformation">
    <h3>Adresse</h3>
    <p>Ydungsgade 4-6, kælderen 22 Kbh N</p>
    <h3>Email</h3>
    <a href=mailto:“kontakt@nintendopusheren.dk”>kontakt@nintendopusheren.dk</a>
    <h3>Telefon</h3>
    <a href="tel:60571282">60 57 12 82</a>
  </div>
  <nav class="socialMedia">
    <a href="#">
      <img src="#" alt="Instagram">
    </a>
    <a href="#">
      <img src="#" alt="Facebook">
    </a>
    <a href="#">
      <img src="#" alt="YouTube">
    </a>
  </nav>

</footer>

<style>
  @media (min-width: 1440px) {
    footer {
      background-color: #3c4e5a;
      padding: 5em 0 2em 0;
      display: flex;
      justify-content: space-around;
    }
    a{
      display: grid;
      color: var(--primary-color);
      text-decoration: none;
      padding: 8%;
    }
    .section1 {
      padding-top: 3em;
    }
    .section2 p {
      text-decoration: underline;
    }
    .section3 {
      display: flex;
      align-items: baseline;
    }
    .OpeningHours {
      display: flex;
    }
    .Hours {
      text-align: right;
    }

    p {
      color: var(--primary-color);
    }
    h2 {
      color: var(--primary-color);
    }
  }

  @media (max-width: 1440px) {
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: first baseline;
      background-color: var(--secondary-accent);
    }
   
  }
</style>
