<section class="container">
  <img src="images/luigimansion2.avif" alt="" />
  <div class="tekst">
    <h2>Luigi’s Mansion 2 HD</h2>
    <p>
      Evershade Valley er fyldt med både skræmmende steder og kloge spøgelser –
      gisp! Heldigvis har Luigi de rette redskaber til opgaven, såsom Strobulb
      til at lamme fjenderne med og hans trofaste Poltergust til at støvsuge
      spøgelser op eller interagere med omgivelserne. Op til fire spillere kan
      slå sig sammen om at tage udfordringerne op i ScareScraper, en hjemsøgt
      bygning, der vrimler med spøgelser og udfordringer, som ikke findes i
      hovedeventyret. Rekruttér dine medspøgelsesjægere til at bestige det
      skræmmende tårn via enten lokalt trådløst spil eller online.
    </p>
  </div>
</section>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  h2,
  p {
    color: var(--primary-color);
    max-width: 32rem;
  }
  .container {
    background-color: var(--accent-color);
  }
  img {
    width: 100%;
    height: auto;
  }
</style>
