---
---

<nav>
    <a href="/"><img src="" alt="logo" class="logo"></a>
    
  <div class="topnav">
    <a href="#">Pre-order</a>
    <a href="">Reparation</a>
    <a href="">Sælg og byt</a>
    <a href="about">Om os</a>
  </div>
  <div class="storenav">
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </div>
</nav>