---
import NavStore from "./NavStore.astro";

const data = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/categories?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());
---

<nav>
  <div class="burgermenu">
    <div class="menu-btn">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="top">
    <div class="logo">
      <a href="/"><img src="/assets/logo.svg" alt="logo" /></a>
    </div>

    <ul class="topnav">
      <li><a href="/">Pre-order</a></li>
      <li><a href="/">Reparation</a></li>
      <li><a href="/">Sælg og byt</a></li>
      <li><a href="/about">Om os</a></li>
    </ul>
    <div class="userarea">
      <a href="/" class="search">
        <img src="/assets/search.svg" alt="search button" />
      </a>
      <a href="/" class="profile">
        <img src="/assets/profile.svg" alt="profile button" />
      </a>
      <a href="/" class="basket">
        <img src="/assets/basket.svg" alt="shopping basket button" />
      </a>
    </div>
  </div>

  <div class="store">
    <div class="storenav">
      {
        data.map((data) => {
          return <NavStore data={data} />;
        })
      }
    </div>
  </div>
</nav>

<style>
  nav {
    padding: 1rem 0 5rem;
    font-family: var(--font-family-primary);
    display: grid;
    grid-template-columns: 1fr;
  }
  .top {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }

  .topnav {
    list-style: none;
    display: flex;
    gap: 2rem;
    grid-column: 2;
    padding: 0 6rem;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    font-size: var(--font-size-md);
    color: var(--secondary-color);
    letter-spacing: 0.5px;
  }

  a:hover {
    text-decoration: underline;
    color: var(--accent-color);
  }

  a:active {
    text-decoration: underline;
  }
  .userarea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
    height: 24px;
  }

  .userarea img:hover {
    filter: invert(31%) sepia(99%) saturate(1524%) hue-rotate(348deg)
      brightness(89%) contrast(91%);
  }

  .storenav {
    padding: 2rem 0 0;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
  }

  @media (max-width: 860px) {
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .top {
      display: grid;

      grid-template-columns: 1fr 4fr 1fr;
      align-items: center;
    }

    .topnav {
      grid-row: 1;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .userarea {
      grid-column: 1/-1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: end;
      align-items: center;
      height: 24px;
      gap: 1em;
    }

    .search {
      grid-row: 2;
      grid-column: 1;
      justify-self: start;
    }

    .basket {
      grid-row: 1;
      grid-column: 3/-1;
    }

    .profile {
      grid-row: 1;
      grid-column: 2/3;
    }

    .logo {
      grid-row: 1;
      grid-column: 1/2;
    }

    .store {
      display: grid;
      grid-template-columns: 1fr;
      grid-row: 2;
      grid-column: 1/-1;
      align-self: center;
    }

    .storenav {
      grid-column: 1/-1;
      grid-row: 2;
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
    }

    /* burgermenu  */

    .burgermenu {
      grid-column: 3/-1;
      grid-row: 1;
      display: inline-flex;
      align-items: center;
      justify-content: end;
    }

    .menu-btn {
      width: 44px;
      height: 32px;
      position: relative;
      overflow: hidden;
      z-index: 9;
    }

    .menu-btn:hover {
      cursor: pointer;
    }

    .line {
      background-color: rgb(0, 0, 0);
      width: 32px;
      height: 1.2px;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }

    .line:nth-of-type(2) {
      top: calc(50% - 9px);
    }
    .line:nth-of-type(3) {
      top: calc(50% + 9px);
    }

    .menu-btn.active {
      position: fixed;
    }

    /* when menu is open  */
    .menu-btn.active .line:nth-of-type(1) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active .line:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active .line:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg);
    }

    /* Actual menu that appears  */
    .storenav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transform: translateY(-100%);
      transition: transform 0.5s;
    }

    .store.active {
      transform: translateX(0);
    }
    /* menu list styling  */
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    ul li ul {
      display: grid;
      grid-template-columns: 1fr;
      position: absolute;
      top: 30%;
    }
  }

  @media (max-width: 750px) {
    .topnav {
      grid-row: 1;

      display: grid;
      grid-template-columns: 1fr 1fr ;
    }
  }
</style>

<script>
  // use this code for activating the global-menu
  let menuBtn = document.querySelector(".menu-btn");
  let store = document.querySelector(".store");

  menuBtn.addEventListener("click", function () {
    menuBtn.classList.toggle("active");
    store.classList.toggle("active");
  });
</script>
