---
import NavSub from "./NavSub.astro";

const { data } = Astro.props;

const subcategories = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/subcategories",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());
---

<ul class="dropdown">
  <li>
    <div class="category">
      <p>{data.category}</p>
    </div>
    <ul class="subcategories">
      {
        subcategories
          .filter((sub) => sub.category_id === data.id)
          .map((sub) => (
            <li class="subcategory">
              <NavSub data={sub} />
            </li>
          ))
      }
    </ul>
  </li>
</ul>

<style>
  ul,
  li .category {
    list-style: none;
    position: relative;
    max-width: 160px;
    width: 100%;
  }

  .category {
    background-color: var(--accent-color);
    color: var(--primary-color);
    height: 40px;

    display: grid;
    align-items: center;
    gap: 2em;
  }

  .category:hover {
    background-color: var(--hover-color);
  }

  .category:active {
    background-color: var(--secondary-accent);
  }

  p {
    text-align: center;
    color: var(--primary-color);
  }

  /******** STYLING SUBCATEGORIES *********/

  .subcategories {
    width: 100%;
  }
  .subcategory {
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
  }

  .subcategory:first-child {
    border-top: 1px solid black;
  }

  ul ul {
    position: absolute;
    display: none;
  }

  ul li:hover > ul {
    display: inherit;
  }

</style>
