---
import NavSub from "./NavSub.astro";

const { data } = Astro.props;

const subcategories = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/subcategories",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());
---

<ul class="store">
  <li>
    <div class="category">
      <p>{data.category}</p>
    </div>
    <ul class="subcategory">
      <li>
        {
          subcategories
            .filter((sub) => sub.category_id === data.id)
            .map((sub) => <NavSub data={sub} />)
        }
      </li>
    </ul>
  </li>
</ul>

<style>
  ul,
  li {
    list-style: none;
    position: relative;
  }

  .category {
    background-color: var(--accent-color);
    color: var(--primary-color);
    height: 40px;
    max-width: 160px;
    width: auto;

    display: grid;
    align-items: center;
    gap: 2em;
  }

  .category:hover {
    background-color: var(--hover-color);
  }

  .category:active {
    background-color: var(--secondary-accent);
  }

  p {
    text-align: center;
    color: var(--primary-color);
  }

  /******** here starts the subcategories *********/

  .subcategory {
    list-style: none;
    padding: 1em;
    display: grid;
    gap: 1em;
  }

  ul ul {
    position: absolute;
    top: 100%;
    display: none;
  }

  ul li:hover > ul {
    display: inherit;
  }
</style>
