<div class="container">
  <p>
    <strong style="font-size: var( --font-size-md);"> D. 3. august 2019</strong>
    åbnede jeg en butik i hjertet af Nørrebro i København, hvor har jeg har fyldt
    væggene med spil og konsoller fra gulv til loft. Butikken ligger i kælderen på
    Ydunsgade 4, 2200 Kbh N. Her er let adgang med det offentlige, og er man i bil,
    er der betalt parkering med Europark.
    <br /><br /> Nintendopusheren er først og fremmest en fysisk butik med videospil.
    Det er dog også muligt at købe online, hvis ikke man har tid eller mulighed for
    at komme forbi og se varerne i butikken.
    <br />
    <br />Derudover er det også muligt at hænge ud og spille spillene, som er i
    butikken. Enten for at prøve dem inden man evt. køber, men også bare, hvis
    man vil have sig en spiloplevelse. Det er ganske gratis at spille. En gang
    om måneden holder jeg Mario Kart 64-turnering og af og til også andre
    arrangementer. Alt bliver annonceret på Facebooksiden.
  </p>
  <img src="/images/about-mads-445x445.webp" alt="" />
</div>

<style>
  img {
    max-width: 100%;
    height: auto;
  }

  @media only screen and (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 113px;
      justify-items: center;
    }

    p {
      max-width: 475px;
    }
  }

  p {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-light);
    max-width: 475px;

    font-size: var(--font-size-sm);
  }

  @media only screen and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }
    img {
      width: 100%;
      height: auto;
      margin-top: 30px;
    }
  }
</style>
