<section class="overskrift">
  <div class="tekst">
    <div class="container"></div>
    <h1 id="om_os">Om os</h1>
  </div>
  <img src="/images/about-top-720x640.webp" alt="" />
</section>

<style>
  @media only screen and (min-width: 768px) {
    .overskrift {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: stretch;
    }

    #om_os {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-xl);
      grid-column: 2;
      grid-row: 2;
      color: var(--primary-color);
    }

    .container {
      width: 100%;
      height: auto;
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      background-color: var(--secondary-accent);
    }

    .container {
      width: 100%;
      height: auto;
      -moz-grid-column: 1 / span 2;
      -moz-grid-row: 1 / span 2;
      background-color: var(--secondary-accent);
    }

    .tekst {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 768px) {
    .overskrift {
      margin-bottom: 60px;
      display: block;
    }

    .container {
      display: inline-block;
      width: 100%;
      padding: 100px 0 100px 0;
      background-color: var(--secondary-accent);
      grid-area: 1/1;
    }
    #om_os {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-xl);
      color: var(--primary-color);
      grid-area: 1/1;
    }

    .tekst {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
    }
  }
</style>
