<section class="container">
  <div class="tekst">
    <h2>Paper Mario: The Thousand-Year Door</h2>
    <p>
      Nintendo GameCube-spillet vender tilbage med opdateret grafik.
      <br /><br />Vend siden til og tag med Mario og hans venner på et
      RPG-eventyr for at finde den legendariske skat bag den ældgamle
      Thousand-Year Door. Vil Mario fuldføre sin papirstynde søgen eller vil han
      krølle sammen under presset? Find ud af det, når Paper Mario: The
      Thousand-Year Door udfolder sig på Nintendo Switch i 2024.
    </p>
  </div>
  <img src="images/papermario.avif" alt="" />
</section>

<style>
  .tekst {
    max-width: 25rem;
  }
  
  img {
      width: 100%;
      height: auto;
    }

  @media only screen and (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      margin-bottom: 112px;
      background-color: var(--accent-color);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  h2,
  p {
    color: var(--primary-color);
    max-width: 400px;
  }
  @media only screen and (max-width: 768px) {
    .container {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      background-color: var(--accent-color);
      align-items: center;
    }
  }
</style>
