<section class="container">
  <div class="tekst">
    <h2>Paper Mario: The Thousand-Year Door</h2>
    <p>
      Nintendo GameCube-spillet vender tilbage med opdateret grafik.
      <br /><br />Vend siden til og tag med Mario og hans venner på et
      RPG-eventyr for at finde den legendariske skat bag den ældgamle
      Thousand-Year Door. Vil Mario fuldføre sin papirstynde søgen eller vil han
      krølle sammen under presset? Find ud af det, når Paper Mario: The
      Thousand-Year Door udfolder sig på Nintendo Switch i 2024.
    </p>
  </div>
  <img src="images/papermario.avif" alt="" />
</section>

<style>
  .tekst {
    max-width: 25rem;
  }
  .container {
    column-gap: 290px;
    justify-content: flex-end;
    align-items: center;
    place-items: center;
    display: flex;
  }
</style>
