---
import Sidebutton from "./Sidebutton.astro";
---

<section>
  <Sidebutton />
  <Sidebutton tal="1" />
  <Sidebutton tal="2" />
  <Sidebutton tal="3" />
  <Sidebutton tal="4" />
  <Sidebutton />
</section>
