---
const { tal } = Astro.props;
---

<button>
  <a href="#">{tal}</a>
</button>

<style>
  button {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    border: var(--secondary-accent);
    border-style: solid;
    box-shadow: 6px 6px var(--secondary-accent);
  }
  a {
    text-decoration: none;
    font-size: var(--font-size-lg);
    font-family: var(--font-family-primary);
    color: var(--secondary-accent);
    font-weight: var(--font-weight-regular);
    display: block; /* added block to make the entire button click-able <3 */
  }

  button:hover {
    background-color: #ffb3a2;
  }

  button:active {
    background-color: var(--accent-color);
  }


</style>
