---
const { tal } = Astro.props;
---

<button>
  <a href="#">{tal}</a>
</button>

<style>
  button {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    border: var(--secondary-accent);
    border-style: solid;
    box-shadow: 6px 6px var(--secondary-accent);
  }
</style>
