<div class="container">
  <img src="/images/butik.avif" alt="" />
  <p>
    <strong>Sortimentet strækker sig</strong> fra den første Nintendo og helt frem
    til den nuværende generations konsoller. Fokus ligger på retrospil, men der begynder
    også stille og roligt at komme spil og konsoller fra den nuværende generation.
    Vi har en indkøbsaftale med en leverandør af PS4/PS5/Xbox One og Series X samt
    en direkte aftale med Nintendo, så helt nye spil bliver sat op som forudbestillinger,
    der enten kan hentes i butikken på udgivelsesdagen eller sendt. Jeg gør meget
    ud af, at man kan finde hvad man leder efter, så jeg har organiseret alt efter
    konsol og sorteret titlerne alfabetisk.
    <br /><br />Om man enten er rutineret samler, eller bare gerne vil genopleve
    sine barndomsminder, så vil jeg garantere, at man kan finde noget spændende
    blandt de 10.000 spil, som jeg har i butikken!
    <br /><br />Oftest vil det være mig selv, der står i butikken, men jeg har
    en række afløsere til når jeg desværre skal noget andet. De har alle,
    ligesom jeg selv, en stor kærlighed til retrospil og alle de nørderier, der
    ofte følger med, og de er derfor yderst kvalificerede til at repræsentere
    butikken når jeg er væk.
  </p>
</div>

<style>
  img {
    width: 100%;
    height: auto;
  }
  .container {
    justify-items: flex-start;
    margin-left: 0;
    gap: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  p {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-light);
    max-width: 475px;
    font-size: var(--font-size-sm);
  }
</style>
