<button class="button_red button_blue">
  <a href="#">Tilmeld </a>
</button>

<style>
  button {
    box-shadow: none;
    border: none;
    width: 5rem;
    height: 3rem;
    background-color: var(--secondary-accent);
  }

  a {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--font-weight-light);
  }
</style>
