---
import WaitlistButton from "../components/WaitlistButton.astro";
const titel = Astro.props;
import Email from "../components/Email.astro";
---

<article class="container">
  <h3>{titel}</h3>
  <p>Tilmeld dig for at få besked når produktet er tilbage på lager.</p>
  <div class="tilmeld">
    <Email />
    <WaitlistButton />
  </div>
</article>

<style>
  .tilmeld {
    margin-left: 17px;
    column-gap: 1vw;
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: solid 0.5px;
    width: 24rem;
    height: 13rem;
  }
  h3 {
    margin-left: 5%;
    align-self: flex-start;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
  }

  p {
    margin-left: 5%;
    width: 20.6rem;
  }
</style>
