---
import WaitlistButton from "./WaitlistButton.astro";
import Email from "./Email.astro";
---

<script>
  // Function to handle pop-up open and close
  document.addEventListener("DOMContentLoaded", () => {
    const popUpButton = document.querySelector(".pop-up-button");
    const popUp = document.querySelector(".pop-up");
    const popUpContainer = document.querySelector(".pop-up-container");
    const closeButton = document.querySelector(".pop-up span");

    popUpButton.addEventListener("click", () => {
      popUpContainer.style.display = "block";
      popUp.style.display = "block";
      popUpButton.style.display = "none";
    });

    closeButton.addEventListener("click", () => {
      popUpContainer.style.display = "none";
      popUp.style.display = "none";
      popUpButton.style.display = "block";
    });
  });
</script>

<Button
  class="pop-up-button"
  tekst="Giv mig besked når produktet er tilbage på lager"
  buttonColor="var(--secondary-accent)"
  textColor="#ffffff"
  hoverButtonColor=" var(--accent-color)"
/>
<article class="pop-up" style="display: none;">
  <span class="close"></span>
  <div class="pop-up-content">
    <h3>Acme Animation Factory (SNES: Løse spil)</h3>
    <p>Tilmeld dig for at få besked når produktet er tilbage på lager.</p>
    <Email />
    <WaitlistButton
      hoverButtonColor=" var(--accent-color)"
      tekst="Giv mig besked"
      buttonColor="var(--accent-color)"
    />
    <p class="lille_tekst">
      Du vil modtage en email når varen er tilgængelig igen
    </p>
  </div>
</article>
<div class="pop-up-container" style="display: none;"></div>

<style>
  .tilmeld {
    margin-left: 17px;
    column-gap: 1vw;
    display: flex;
    flex-direction: row;
  }

  .pop-up {
    padding: 10px 30px 10px 50px;
    align-items: center;
    width: 22rem;
    height: 350px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    background: var(--primary-color);
    position: relative;
    z-index: 1;
    border: solid 1px #121212;
  }
  .pop-up-container {
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .close {
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    margin-left: 90%;
    font-family: var(--font-family-secondary);
    color: var(--secondary-color);
    font-size: 2em;
    cursor: pointer;
  }

  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    margin-top: 20px;
    margin-left: 85%;
    position: absolute;
    left: 13px;
    content: " ";
    height: 31px;
    width: 3px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
</style>
