<button>
  <a href="#">Giv mig besked når produktet er tilbage på lager </a>
</button>

<style>
  button {
    box-shadow: none;
    border: none;
    width: 21rem;
    height: 3.2rem;
    background-color: var(--secondary-accent);
  }

  a {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--font-weight-light);
  }
</style>
