---
// src/pages/[subcategories]/[items].astro

// build a product list for the selected items, with a dynamic path

import ItemList from "../../components/ItemList.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  // fetching datan som ska ge produkt-URLn
  const items = await fetch(
    "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/items",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((response) => response.json());

  return items.map((item) => ({
    params: {
      subcategories: item.subcategory_name,
      items: item.slug,
    },
    props: { item },
  }));
}

const { item } = Astro.props;

const products = await fetch(
  `https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/products`,
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());

// console.log(products);
---

<MainLayout headliner="This is the product list">
  <h1>{item.name}</h1>

  <section class="products">
    {
      products
        .filter((product) => product.item_id === item.id)
        .map((product) => {
          return (
            <a href={`/${item.slug}/${product.slug}`}>
              <ItemList product={product} />
            </a>
          );
        })
    }
  </section>
</MainLayout>

<style></style>
