---
import Navigation from "../components/Navigation.astro"
import "../styles/layout.css"
import "../styles/styles.css"

const {headliner} = Astro.props
---

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{headliner}</title>
</head>
<body>
    <Navigation/>
    <main>
        <slot />
    </main>
    <!-- Here will be a footer  -->
</body>
</html>