---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/layout.css";
import "../styles/styles.css";

const { headliner } = Astro.props;
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/kzc0qgq.css" />
    <link rel="stylesheet" href="https://use.typekit.net/kzc0qgq.css" />
    <link rel="stylesheet" href="https://use.typekit.net/kzc0qgq.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{headliner}</title>
  </head>
  <body>
    <header>
      <div class="icon">
        <a href="/"><img src="/assets/icon.svg" alt="icon" /></a>
      </div>
      <div class="navigation">
        <Navigation />
      </div>
    </header>
    <main>
      <slot />
    </main>
    <Footer/>
  </body>
</html>

<style>
  header {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1040px) 1fr;
    width: auto;
  }

  .icon {
    grid-column: 1/2;
    z-index: 1;
    position: relative;
    justify-self: end;
  }

  .navigation {
    grid-column: 2;
    z-index: 2;
  }
</style>
